
.post {
  border-radius: 4px;
  
}
.post .tgme_widget_message_bubble_tail {
  display: none;
}

.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
  margin-top: 20px;
}

.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

.post-wrapper {
  background-color: #fff;
}
